@using Westwind.Globalization
@using System.Globalization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - ASP.NET Framework Playground</title>

    <!-- Stylesheets -->
    @Styles.Render("~/Content/Site.css")

    <!-- Font Awesome -->
    @Styles.Render("~/fontawesome-free-6.1.1-web/css/all.css")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")

    <!-- Pingendo Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootbox -->
    @Scripts.Render("~/Bootbox/bootbox.all.min.js")
    <!-- Fancybox -->
    @Scripts.Render("https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js")
    @Styles.Render("https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css")
    <!-- Jcrop -->
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.9/js/jquery.Jcrop.min.js")
    <!-- Dropzone -->
    @Scripts.Render("https://unpkg.com/dropzone@5/dist/min/dropzone.min.js")
    @Styles.Render("https://unpkg.com/dropzone@5/dist/min/dropzone.min.css")
    <!-- TinyMCE -->
    @Scripts.Render("https://cdn.tiny.cloud/1/2wlj3qnam61clyb2qicbmmsurmxhjaxgkwucaymb414vsd1p/tinymce/6/tinymce.min.js")
    <!-- Westwind Globalization Javascript -->
    <script src="@JavaScriptResourceHandler.GetJavaScriptResourcesUrl("resources","Javascript",CultureInfo.CurrentCulture.TwoLetterISOLanguageName,Westwind.Globalization.ResourceProviderTypes.DbResourceProvider)"></script>
</head>
<body>
    @Html.Partial("_NavigationBar")

    @RenderBody()
    @Html.Partial("_Footer")
    @RenderSection("scripts", required: false)

</body>
</html>
