@model ASP.NET_Framework_MVC_Playground.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Manage your external logins";
}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="p-1 text-left">Manage Your External Logins</h1>
                <p class="text-success">@ViewBag.StatusMessage</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-lg-12 p-1">
                    <h1 class="text-left">Registered services</h1>
                    <hr>
                </div>

                @if (Model.CurrentLogins.Count > 0)
                {
                    foreach (var account in Model.CurrentLogins)
                    {
                        <div class="row text-left">
                            <div class="col-md-12 my-1 text-left">
                                @if (account.LoginProvider == "Google")
                                {
                                    <button class="btn text-white w-75" id="Google" name="provider" value="Google" style="background: rgb(221, 75, 57); pointer-events:none;"><i class="fa fa-fw fa-1x py-1 fa-brands fa-google"></i>&nbsp;<b>Google</b></button>
                                }

                                @if (account.LoginProvider == "Twitter")
                                {
                                    <button class="btn text-white w-75" id="Twitter" name="provider" value="Twitter" style="background: rgb(85, 172, 238); pointer-events: none;"><i class="fa fa-fw fa-1x py-1 fa-brands fa-twitter"></i>&nbsp;<b>Login with Twitter</b></button>
                                }

                                @if (account.LoginProvider == "Facebook")
                                {
                                    <button class="btn text-white w-75" id="Facebook" name="provider" value="Facebook" style="background: rgb(59, 89, 152); pointer-events: none;"><i class="fa fa-fw fa-1x py-1 fa-brands fa-facebook-square"></i>&nbsp;<b>Login with Facebook</b></button>
                                }

                                @if (account.LoginProvider == "Microsoft")
                                {
                                    <button class="btn text-white w-75 btn-primary" id="Microsoft" name="provider" value="Microsoft" style="pointer-events: none;"><i class="fa fa-fw fa-1x py-1 fa-brands fa-windows"></i>&nbsp;<b>Login with Microsoft</b></button>
                                }

                                @if (ViewBag.ShowRemoveButton)
                                {
                                    using (Html.BeginForm("RemoveLogin", "Manage", FormMethod.Post, new { @style = "display:inline;" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("loginProvider", account.LoginProvider)
                                        @Html.Hidden("providerKey", account.ProviderKey)
                                        <button type="submit" class="btn btn-danger py-1 ml-1" value="Remove"><i class="fa-solid fa-trash-can"></i></button>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-md-6">
                <div class="col-lg-12 p-1">
                    <h1 class="text-left">Use another service</h1>
                    <hr>
                </div>
                @if (Model.OtherLogins.Count > 0)
                {
                    using (Html.BeginForm("LinkLogin", "Manage"))
                    {
                        @Html.AntiForgeryToken()
                        <div id="socialLoginList">
                            @foreach (AuthenticationDescription p in Model.OtherLogins)
                            {
                                if (p.AuthenticationType == "Google")
                                {
                                    <div class="row text-left">
                                        <div class="col-md-12 my-1">
                                            <button class="btn text-white w-75" id="Google" name="provider" value="Google" style="background: rgb(221, 75, 57);"><i class="fa fa-fw fa-1x py-1 fa-brands fa-google"></i>&nbsp;<b>Google</b></button>
                                        </div>
                                    </div>
                                }

                                if (p.AuthenticationType == "Twitter")
                                {
                                    <div class="row text-left">
                                        <div class="col-md-12 my-1">
                                            <button class="btn text-white w-75" id="Twitter" name="provider" value="Twitter" style="background: rgb(85, 172, 238);"><i class="fa fa-fw fa-1x py-1 fa-brands fa-twitter"></i>&nbsp;<b>Login with Twitter</b></button>
                                        </div>
                                    </div>
                                }

                                if (p.AuthenticationType == "Facebook")
                                {
                                    <div class="row text-left">
                                        <div class="col-md-12 my-1">
                                            <button class="btn text-white w-75" id="Facebook" name="provider" value="Facebook" style="background: rgb(59, 89, 152);"><i class="fa fa-fw fa-1x py-1 fa-brands fa-facebook-square"></i>&nbsp;<b>Login with Facebook</b></button>
                                        </div>
                                    </div>
                                }

                                if (p.AuthenticationType == "Microsoft")
                                {
                                    <div class="row text-left">
                                        <div class="col-md-12 my-1">
                                            <button class="btn text-white w-75 btn-primary" id="Microsoft" name="provider" value="Microsoft"><i class="fa fa-fw fa-1x py-1 fa-brands fa-windows"></i>&nbsp;<b>Login with Microsoft</b></button>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

