@model ASP.NET_Framework_MVC_Playground.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Verify Phone Number";
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Verify Phone Number</h1>
                <hr>
                @using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { @class = "text-left", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("phoneNumber", @Model.PhoneNumber)
                    <b>@ViewBag.Status</b>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @placeholder = "Security Code" })
                    </div>
                    <button type="submit" class="btn btn-primary">Verify</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
